resources/schema/mesakem/Mimshak_Mesakem_XSD_Schema_v3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="MimshakMaasikimHizunMesakem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="KoteretKovetz" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SUG-MIMSHAK" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
סוג הממשק
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:enumeration value="14" />
                    <xsd:enumeration value="15" />
                    <xsd:enumeration value="18" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-GIRSAT-XML" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר גרסא ראשי 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="003" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="TAARICH-BITZUA" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
תאריך ושעת יצירת הקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="([0-9]\d{3}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)|(15(8[48]|9[26])|(1[6-9]|[2-9]\d)(0[48]|[13579][26]|[2468][048])|([2468][048]|16|3579[26])00)0229)((0[0-9]|1[0-9]|2[0-3])([0-5]\d){2})" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="KOD-SVIVAT-AVODA" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
סוג הנתונים המועברים בקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:enumeration value="1" />
                    <xsd:enumeration value="2" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-HAKOVETZ" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר הקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="34" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-SIDURI" minOccurs="1" nillable="true">
                <xsd:annotation>
                  <xsd:documentation>
מספר סידורי של הקובץ 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="4" />
                    <xsd:minInclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NetuneiGoremSholech" minOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="KOD-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
קוד גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="6" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SUG-MEZAHE-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
סוג מזהה גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="7" />
                          <xsd:enumeration value="8" />
                          <xsd:enumeration value="9" />
                          <xsd:enumeration value="10" />
                          <xsd:enumeration value="11" />
                          <xsd:enumeration value="12" />
                          <xsd:enumeration value="13" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-ZIHUI-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
מספר זיהוי גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-GOREM-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
שם גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="100" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-PRATI-ISH-KESHER-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
שם פרטי - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-MISHPACHA-ISH-KESHER-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
שם משפחה - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-TELEPHONE-KAVI-ISH-KESHER-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
מספר טלפון קווי - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="11" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="E-MAIL-ISH-KESHER-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
כתובת דוא"ל - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="50" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-CELLULARI-ISH-KESHER-SHOLECH" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
טלפון סלולארי - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="15" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="NetuneiGoremNimaan" minOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="KOD-NIMAAN" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
קוד גורם נמען
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="6" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SUG-MEZAHE-NIMAAN" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
סוג מזהה גורם נמען
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="7" />
                          <xsd:enumeration value="8" />
                          <xsd:enumeration value="9" />
                          <xsd:enumeration value="10" />
                          <xsd:enumeration value="11" />
                          <xsd:enumeration value="12" />
                          <xsd:enumeration value="13" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-ZIHUI-NIMAAN" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
מספר זיהוי גורם נמען
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-ZIHUI-ETZEL-YATZRAN-NIMAAN" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
מספר מזהה אצל יצרן
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GufHamimshak" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="YeshutGoremPoneLemislaka" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SUG-PONE" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
סוג פונה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="6" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SUG-KOD-MEZAHE-PONE" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
סוג קוד מזהה פונה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="7" />
                          <xsd:enumeration value="8" />
                          <xsd:enumeration value="9" />
                          <xsd:enumeration value="10" />
                          <xsd:enumeration value="11" />
                          <xsd:enumeration value="12" />
                          <xsd:enumeration value="13" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-MEZAHE-PONE" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
מספר מזהה פונה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-GOREM-PONE" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
שם גורם פונה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="50" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-MEZAHE-METAFEL" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
מספר מזהה מתפעל
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-PRATI-PONE-LEMISLAKA" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
שם פרטי - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-MISHPACHA-PONE-LEMISLAKA" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
שם משפחה - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-TELEPHONE-KAVI-PONE-LEMISLAKA" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
מספר טלפון קווי - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="11" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="E-MAIL-PONE-LEMISLAKA" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
כתובת דוא"ל - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="50" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-CELLULARI" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
טלפון סלולארי - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="15" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="StatosPirteiHaavaratKsafim" minOccurs="1" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SUG-MAFKID" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סוג מפקיד
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SUG-MEZAHE-MAASIK" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סוג מזהה מעסיק
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                                <xsd:enumeration value="4" />
                                <xsd:enumeration value="5" />
                                <xsd:enumeration value="7" />
                                <xsd:enumeration value="8" />
                                <xsd:enumeration value="9" />
                                <xsd:enumeration value="10" />
                                <xsd:enumeration value="11" />
                                <xsd:enumeration value="12" />
                                <xsd:enumeration value="13" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="MISPAR-ZIHUY-MAASIK" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
מספר זיהוי מעסיק
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="KOD-MEZAHE-MAASIK-ETZEL-YATZRAN" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
קוד מזהה מעסיק אצל יצרן
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="KOD-MASAV" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
קוד פנימי של גורם שולח במס"ב
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SHEM-MAASIK" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
שם מעסיק
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="TAARICH-ERECH-HAFKADA" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
תאריך ערך הפקדה לחשבון יצרן
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="([0-9]\d{3}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)|(15(8[48]|9[26])|(1[6-9]|[2-9]\d)(0[48]|[13579][26]|[2468][048])|([2468][048]|16|3579[26])00)0229)" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="TAARICH-ERECH-HAFKADA-CHESHBON-NEHEMANUT" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
תאריך ערך הפקדה לחשבון נאמנות
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="([0-9]\d{3}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)|(15(8[48]|9[26])|(1[6-9]|[2-9]\d)(0[48]|[13579][26]|[2468][048])|([2468][048]|16|3579[26])00)0229)" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="MISPAR-ASMACHTA-LEAHAVARAT-KSAFIM" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
מספר אסמכתא להעברת כספים
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SACH-HAFKADA-KUPA-H-P" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סך הפקדת מעסיק לקופה/ח.פ
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SACH-HAFKADA-KLITA-BAPOAL" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סך הפקדה לחשבון יצרן - קליטה בפועל
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SACH-KSAFIM-SHUICHU" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סך כספים אשר שויכו לחשבון העובדים
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="KSAFIM-BEMAHAVAR" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סך כספים שהועברו לחשבון מעבר אצל יצרן
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="STATUS-TIPUL-BEKSAFIM" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סטאטוס טיפול בכספים
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                                <xsd:enumeration value="4" />
                                <xsd:enumeration value="5" />
                                <xsd:enumeration value="7" />
                                <xsd:enumeration value="8" />
                                <xsd:enumeration value="9" />
                                <xsd:enumeration value="10" />
                                <xsd:enumeration value="11" />
                                <xsd:enumeration value="12" />
                                <xsd:enumeration value="13" />
                                <xsd:enumeration value="14" />
                                <xsd:enumeration value="15" />
                                <xsd:enumeration value="16" />
                                <xsd:enumeration value="17" />
                                <xsd:enumeration value="18" />
								<xsd:enumeration value="19" />
								<xsd:enumeration value="20" />
								<xsd:enumeration value="21" />
								<xsd:enumeration value="22" />
								<xsd:enumeration value="23" />
								<xsd:enumeration value="24" />
								<xsd:enumeration value="25" />
								<xsd:enumeration value="26" />
								<xsd:enumeration value="27" />
								<xsd:enumeration value="28" />
								<xsd:enumeration value="29" />
								<xsd:enumeration value="30" />
								<xsd:enumeration value="31" />
								<xsd:enumeration value="32" />
								<xsd:enumeration value="33" />
								<xsd:enumeration value="34" />
								<xsd:enumeration value="35" />
								<xsd:enumeration value="36" />
								<xsd:enumeration value="37" />
								<xsd:enumeration value="38" />
								<xsd:enumeration value="39" />
								<xsd:enumeration value="40" />
								<xsd:enumeration value="41" />
								<xsd:enumeration value="50" />
								<xsd:enumeration value="51" />
								<xsd:enumeration value="52" />

                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="PERUT-STATUS" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
פירוט סטאטוס טיפול בכספים
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5000" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SUG-MIMSHAK-LEGABAV-MUAVAR-HIZUN-CHOZER" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סוג ממשק לגביו מועבר היזון חוזר מסכם
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="12" />
                                <xsd:enumeration value="13" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="MISPAR-ZIHUI" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
מספר זיהוי
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="([A-F]|\d){8}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){12}" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="TAARICH-NECHONUT" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
תאריך נכונות מידע
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="([0-9]\d{3}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)|(15(8[48]|9[26])|(1[6-9]|[2-9]\d)(0[48]|[13579][26]|[2468][048])|([2468][048]|16|3579[26])00)0229)((0[0-9]|1[0-9]|2[0-3])([0-5]\d){2})" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="MISPAR-MISLAKA" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
מספר מסלקה
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="([A-F]|\d){8}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){12}" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="PirteiOved" minOccurs="1" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="SUG-MEZAHE-OVED" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
סוג מזהה עובד
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:int">
                                      <xsd:enumeration value="1" />
                                      <xsd:enumeration value="2" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="MISPAR-MEZAHE" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
מספר מזהה עובד
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:maxLength value="16" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="SHEM-PRATI" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
שם פרטי
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="SHEM-MISHPACHA" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
שם משפחה 
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="TAARICH-LEIDA" minOccurs="1" nillable="true">
                                  <xsd:annotation>
                                    <xsd:documentation>
תאריך לידה
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:pattern value="([0-9]\d{3}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)|(15(8[48]|9[26])|(1[6-9]|[2-9]\d)(0[48]|[13579][26]|[2468][048])|([2468][048]|16|3579[26])00)0229)" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="MISPAR-OVED-ETZEL-MAASIK" minOccurs="1" nillable="true">
                                  <xsd:annotation>
                                    <xsd:documentation>
מספר עובד אצל מעסיק
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="StatosPirteiKlitatReshuma" minOccurs="1" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="MISPAR-MEZAHE-RESHUMA" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
מספר מזהה רשומה
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:pattern value="([A-F]|\d){8}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){12}" />
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="RESHUMA-NIKLETA" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
רשומה נקלטה
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:int">
                                            <xsd:enumeration value="1" />
                                            <xsd:enumeration value="2" />
                                            <xsd:enumeration value="3" />
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="SUG-SHGIHA" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
סוג שגיאה
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:int">
                                            <xsd:enumeration value="1" />
                                            <xsd:enumeration value="2" />
                                            <xsd:enumeration value="3" />
                                            <xsd:enumeration value="4" />
                                            <xsd:enumeration value="5" />
                                            <xsd:enumeration value="6" />
                                            <xsd:enumeration value="7" />
                                            <xsd:enumeration value="8" />
                                            <xsd:enumeration value="11" />
                                            <xsd:enumeration value="12" />
                                            <xsd:enumeration value="13" />
                                            <xsd:enumeration value="14" />
									        <xsd:enumeration value="15" />
										    <xsd:enumeration value="16" />
											<xsd:enumeration value="17" />
											<xsd:enumeration value="18" />
											<xsd:enumeration value="19" />
											<xsd:enumeration value="20" />
											<xsd:enumeration value="21" />
											<xsd:enumeration value="22" />
											<xsd:enumeration value="23" />
											<xsd:enumeration value="24" />
											<xsd:enumeration value="25" />
											<xsd:enumeration value="26" />
											<xsd:enumeration value="27" />
											<xsd:enumeration value="28" />
											<xsd:enumeration value="29" />
											<xsd:enumeration value="30" />
											<xsd:enumeration value="31" />
											<xsd:enumeration value="32" />
											<xsd:enumeration value="33" />
											<xsd:enumeration value="34" />
											<xsd:enumeration value="35" />
											<xsd:enumeration value="36" />
											<xsd:enumeration value="37" />
											<xsd:enumeration value="38" />
											<xsd:enumeration value="39" />
											<xsd:enumeration value="40" />
											<xsd:enumeration value="41" />
											<xsd:enumeration value="42" />
											<xsd:enumeration value="43" />
											<xsd:enumeration value="44" />
											<xsd:enumeration value="45" />
											<xsd:enumeration value="46" />
											<xsd:enumeration value="47" />
											<xsd:enumeration value="48" />
											<xsd:enumeration value="49" />
											<xsd:enumeration value="50" />
											<xsd:enumeration value="51" />
											<xsd:enumeration value="52" />
											<xsd:enumeration value="53" />
											<xsd:enumeration value="54" />
											<xsd:enumeration value="55" />
											<xsd:enumeration value="56" />
											<xsd:enumeration value="57" />
								   	        </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="PERUT-SHGIHA" minOccurs="1" nillable="true">
                                        <xsd:annotation>
                                          <xsd:documentation>
פירוט שגיאה
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="5000" />
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="OfenRishumZchuiot" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
										        <xsd:element name="KOD-MEZAHE-KUPA-H-P" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
קוד זיהוי קופה/ח.פ
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="30" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SACHAR-MECHUSHAV" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
שכר מחושב
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="CHODESH-MASKORET" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
חודש משכורת
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:pattern value="(((1[0-9]\d{2})|(2[0-9]\d{2}))(0[1-9]|1[0-2]))" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="MISPAR-POLISA-O-HESHBON" minOccurs="1" nillable="true">
                                              <xsd:annotation>
                                                <xsd:documentation>
מספר פוליסה / מספר חשבון
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="20" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SUG-HAFRASHA" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
סוג הפרשה
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:int">
                                                  <xsd:enumeration value="1" />
                                                  <xsd:enumeration value="2" />
                                                  <xsd:enumeration value="3" />
                                                  <xsd:enumeration value="4" />
                                                  <xsd:enumeration value="5" />
                                                  <xsd:enumeration value="6" />
                                                  <xsd:enumeration value="7" />
                                                  <xsd:enumeration value="8" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SHIUR-HAFRASHA" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
שיעור הפרשה
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="4" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SCHUM-HAFRASHA" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
סכום הפרשה
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SACH-TASHLUMIM-PTURIM" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
סך תשלומים פטורים 
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SHIUR-HAFRASHA-METZUPE" minOccurs="1" nillable="true">
                                              <xsd:annotation>
                                                <xsd:documentation>
שיעור הפרשה מצופה לא.כ.ע/שונות
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="4" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SCHUM-HAFRASHA-METZUPE" minOccurs="1" nillable="true">
                                              <xsd:annotation>
                                                <xsd:documentation>
סכום הפרשה מצופה לא.כ.ע/שונות
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReshumatSgira" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MISPAR-YATZRANIM" minOccurs="1" nillable="true">
                <xsd:annotation>
                  <xsd:documentation>
מספר קופות/יצרנים בקובץ 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="15" />
                    <xsd:minExclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-MAASIKIM" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר מעסיקים בקובץ 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="15" />
                    <xsd:minExclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-RESHUMOT" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר רשומות בקובץ 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="15" />
                    <xsd:minExclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-AMITIM" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר עמיתים בקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="15" />
                    <xsd:minExclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SACH-HAFRASHOT-BAKOVETZ" minOccurs="1" nillable="true">
                <xsd:annotation>
                  <xsd:documentation>
סה"כ הפרשות בקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="15" />
                    <xsd:fractionDigits value="2" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>